---
http_interactions:
- request:
    method: get
    uri: https://mastodon.social/api/v1/accounts/verify_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 34e967d13caaf2599ad2c7626889e1d4fb23fdd54f910700d8a74e5432a2910d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '2018-04-25T16:30:00.646944Z'
      Etag:
      - W/"c02e44e57032ea188f7601a783ae57c4"
    body:
      encoding: UTF-8
      string: '{"id":"323552","username":"jblissett7","acct":"jblissett7","display_name":"","locked":false,"created_at":"2018-04-10T19:58:15.155Z","note":"\u003cp\u003e\u003c/p\u003e","url":"https://mastodon.social/@jblissett7","avatar":"https://mastodon.social/avatars/original/missing.png","avatar_static":"https://mastodon.social/avatars/original/missing.png","header":"https://mastodon.social/headers/original/missing.png","header_static":"https://mastodon.social/headers/original/missing.png","followers_count":1,"following_count":2,"statuses_count":0,"source":{"privacy":"public","sensitive":false,"note":""}}'
  recorded_at: Wed, 25 Apr 2018 16:25:36 GMT
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/home
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 34e967d13caaf2599ad2c7626889e1d4fb23fdd54f910700d8a74e5432a2910d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
      X-Ratelimit-Reset:
      - '2018-04-25T16:30:00.288815Z'
      Link:
      - <https://mastodon.social/api/v1/timelines/home?max_id=99916829736380266>;
        rel="next", <https://mastodon.social/api/v1/timelines/home?since_id=99920825823498532>;
        rel="prev"
      Etag:
      - W/"0a910879a036cb46d015d124634da7ae"
    body:
      encoding: UTF-8
      string: "[{\"id\":\"99920825823498532\",\"created_at\":\"2018-04-25T15:40:04.198Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":null,\"uri\":\"https://mastodon.social/users/Gargron/statuses/99920825823498532/activity\",\"content\":\"\\u003cp\\u003eRT
        \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@DayGloChainsaw\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eDayGloChainsaw\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        8 hours ago: a new site? this layout is confusing. where is everyone? how
        does this work. whats an instance?\\u003c/p\\u003e\\u003cp\\u003eNow: *covered
        in torn rags and goat bood, hitting the ground with sticks, waving a human
        skull around* TRAIN FUCKERS TRAIN FUCKERS TRAIN FUCKERS\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@Gargron/99920825823498532\",\"reblogs_count\":0,\"favourites_count\":0,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"reblog\":{\"id\":\"99906071951166258\",\"created_at\":\"2018-04-23T01:07:58.049Z\",\"in_reply_to_id\":\"99906063651507157\",\"in_reply_to_account_id\":\"139741\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/DayGloChainsaw/statuses/99906071951166258\",\"content\":\"\\u003cp\\u003e8
        hours ago: a new site? this layout is confusing. where is everyone? how does
        this work. whats an instance?\\u003c/p\\u003e\\u003cp\\u003eNow: *covered
        in torn rags and goat bood, hitting the ground with sticks, waving a human
        skull around* TRAIN FUCKERS TRAIN FUCKERS TRAIN FUCKERS\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@DayGloChainsaw/99906071951166258\",\"reblogs_count\":16,\"favourites_count\":27,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"reblog\":null,\"application\":{\"name\":\"Web\",\"website\":null},\"account\":{\"id\":\"139741\",\"username\":\"DayGloChainsaw\",\"acct\":\"DayGloChainsaw\",\"display_name\":\"thot
        pilgrim\",\"locked\":false,\"created_at\":\"2017-05-13T14:11:39.848Z\",\"note\":\"\\u003cp\\u003eNEVER
        LOG OFF / Ace of Swords / shitpost King / piss bastard of hell earth / i do
        not give a Frick Bomb Every Jungle\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@DayGloChainsaw\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/000/139/741/original/adaa42c191be019d.png\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/000/139/741/original/adaa42c191be019d.png\",\"header\":\"https://files.mastodon.social/accounts/headers/000/139/741/original/7871764d5f4eeb94.png\",\"header_static\":\"https://files.mastodon.social/accounts/headers/000/139/741/original/7871764d5f4eeb94.png\",\"followers_count\":58,\"following_count\":36,\"statuses_count\":926},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[]},\"application\":null,\"account\":{\"id\":\"1\",\"username\":\"Gargron\",\"acct\":\"Gargron\",\"display_name\":\"Eugen\",\"locked\":false,\"created_at\":\"2016-03-16T14:34:26.392Z\",\"note\":\"\\u003cp\\u003eDeveloper
        of Mastodon\\u003c/p\\u003e\\u003cp\\u003ePatreon: \\u003ca href=\\\"https://www.patreon.com/mastodon\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=[...]
- request:
    method: get
    uri: https://mastodon.social/api/v1/statuses/99920825823498532
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 34e967d13caaf2599ad2c7626889e1d4fb23fdd54f910700d8a74e5432a2910d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
     [...]
