---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="d4090117cbdd33b3f040f293719ebcab",
        oauth_signature="nUoq4Mn6MxvUu674cp0qWkgbF48%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524577694", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 24 Apr 2018 13:48:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 56179578e9861ef50d1e72a2c0e08217
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '72'
      X-Rate-Limit-Reset:
      - '1524578129'
      X-Response-Time:
      - '58'
      X-Transaction:
      - 007eea490059394f
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":125787992,"id_str":"125787992","name":"Jordan blissett","screen_name":"Jordan_blissett","location":"longview
        texas","description":"Hallsville tx. 21 years old. A&M class of 2018.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":257,"friends_count":520,"listed_count":1,"created_at":"Tue
        Mar 23 21:47:17 +0000 2010","favourites_count":859,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":536,"lang":"en","status":{"created_at":"Wed
        Jan 24 03:56:26 +0000 2018","id":956012793576218625,"id_str":"956012793576218625","text":"@briarkbullock
        Is it cuz you got a big nose?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"briarkbullock","name":"B","id":475943134,"id_str":"475943134","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":956011254723817477,"in_reply_to_status_id_str":"956011254723817477","in_reply_to_user_id":475943134,"in_reply_to_user_id_str":"475943134","in_reply_to_screen_name":"briarkbullock","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/691790775194107905\/IAKbR54U_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/691790775194107905\/IAKbR54U_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/125787992\/1453770748","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Tue, 24 Apr 2018 13:48:14 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="775be427159ccfb128f11338bfcb471d",
        oauth_signature="bCIDV0IRxZrOsqbHXaUoPtQ8xDw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524577694", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
        oauth_ver[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/988774594764001280.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="659cb0de7390c68e07f3cb2420d5f890",
        oauth_signature="%2FmXLPzBmmJC0ZewzGBsW4av9RpQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524577696", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
     [...]
