---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="e0d44480dd406bf40c5be4ef0157a22f",
        oauth_signature="1PVKQbWaD3Cmiw7R9HmcLZmCzPA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524885805", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 03:23:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 30c60753a5151b0434763d3215aaf152
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1524886705'
      X-Response-Time:
      - '52'
      X-Transaction:
      - 002a459300e148b2
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":125787992,"id_str":"125787992","name":"Jordan blissett","screen_name":"Jordan_blissett","location":"longview
        texas","description":"Hallsville tx. 21 years old. A&M class of 2018.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":256,"friends_count":520,"listed_count":1,"created_at":"Tue
        Mar 23 21:47:17 +0000 2010","favourites_count":852,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":535,"lang":"en","status":{"created_at":"Wed
        Jan 24 03:56:26 +0000 2018","id":956012793576218625,"id_str":"956012793576218625","text":"@briarkbullock
        Is it cuz you got a big nose?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"briarkbullock","name":"B","id":475943134,"id_str":"475943134","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":956011254723817477,"in_reply_to_status_id_str":"956011254723817477","in_reply_to_user_id":475943134,"in_reply_to_user_id_str":"475943134","in_reply_to_screen_name":"briarkbullock","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/691790775194107905\/IAKbR54U_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/691790775194107905\/IAKbR54U_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/125787992\/1453770748","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Sat, 28 Apr 2018 03:23:25 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="1fa657f23d2e7176945c6a30533df8b8",
        oauth_signature="W8ZLiRpANheYkxQwLRmOo1YGLbA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524885805", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 03:23:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 43d3d6e4dc42cc7da0fc58bf1371e502
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1524886705'
      X-Response-Time:
      - '303'
      X-Transaction:
      - 00e86ffa0033a64b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sat Apr 28 03:22:57 +0000 2018","id":990068828573982721,"id_str":"990068828573982721","full_text":"On
        @foxandfriends, @SenatorTimScott seconded @chancetherapper''s statement: \"Black
        people don\u2019t have to be democrats.\" https:\/\/t.co\/wZAWBJ6bKw https:\/\/t.co\/PCixZ4dMKY","truncated":false,"display_text_range":[0,141],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"foxandfriends","name":"FOX
        & friends","id":15513604,"id_str":"15513604","indices":[3,17]},{"screen_name":"SenatorTimScott","name":"Tim
        Scott","id":217543151,"id_str":"217543151","indices":[19,35]},{"screen_name":"chancetherapper","name":"Chance
        The Rapper","id":181572333,"id_str":"181572333","indices":[45,61]}],"urls":[{"url":"https:\/\/t.co\/wZAWBJ6bKw","expanded_url":"https:\/\/fxn.ws\/2HBovy2","display_url":"fxn.ws\/2HBovy2","indices":[118,141]}],"media":[{"id":989998914358140939,"id_str":"989998914358140939","indices":[142,165],"media_url":"http:\/\/pbs.twimg.com\/media\/Db0uxHJW4Asr_Qy.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Db0uxHJW4Asr_Qy.jpg","url":"https:\/\/t.co\/PCixZ4dMKY","display_url":"pic.twitter.com\/PCixZ4dMKY","expanded_url":"https:\/\/twitter.com\/FoxNews\/status\/990068828573982721\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":340,"resize":"fit"},"large":{"w":1200,"h":600,"resize":"fit"},"medium":{"w":1200,"h":600,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":989998914358140939,"id_str":"989998914358140939","indices":[142,165],"media_url":"http:\/\/pbs.twimg.com\/media\/Db0uxHJW4Asr_Qy.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Db0uxHJW4Asr_Qy.jpg","url":"https:\/\/t.co\/PCixZ4dMKY","display_url":"pic.twitter.com\/PCixZ4dMKY","expanded_url":"https:\/\/twitter.com\/FoxNews\/status\/990068828573982721\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":340,"resize":"fit"},"large":{"w":1200,"h":600,"resize":"fit"},"medium":{"w":1200,"h":600,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/studio.twitter.com\" rel=\"nofollow\"\u003eMedia Studio\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1367531,"id_str":"1367531","name":"Fox
        News","screen_name":"FoxNews","location":"U.S.A.","description":"America\u2019s
        Strongest Primetime Lineup Anywhere! Follow America''s #1 cable news network,
        delivering you breaking news, insightful analysis, and must-see videos.","url":"http:\/\/t.co\/ZYG58XZtAC","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ZYG58XZtAC","expanded_url":"http:\/\/www.foxnews.com","display_url":"foxnews.com","indices":[0,22]}]},"description":[...]
[...]
