---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="9132a8dacfae1ea3c3305b444dd139b1",
        oauth_signature="FACsPo8ZYflCWvlBLFAU3keOLIQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1523557650", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 12 Apr 2018 18:27:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5e4a5ff5085fe7be96f4c39c8f33f65b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1523557971'
      X-Response-Time:
      - '135'
      X-Transaction:
      - '008bfd8b00a441ae'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Apr 12 18:26:36 +0000 2018","id":984498030081552385,"id_str":"984498030081552385","text":".@gen_jackkeane
        on Syria: \"What''s going on now with @POTUS and his national security team
        is they''re deciding on tw\u2026 https:\/\/t.co\/FYu0UMl3py","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"gen_jackkeane","name":"Jack
        Keane","id":722192639152492545,"id_str":"722192639152492545","indices":[1,15]},{"screen_name":"POTUS","name":"President
        Trump","id":822215679726100480,"id_str":"822215679726100480","indices":[52,58]}],"urls":[{"url":"https:\/\/t.co\/FYu0UMl3py","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/984498030081552385","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1367531,"id_str":"1367531","name":"Fox
        News","screen_name":"FoxNews","location":"U.S.A.","description":"America\u2019s
        Strongest Primetime Lineup Anywhere! Follow America''s #1 cable news network,
        delivering you breaking news, insightful analysis, and must-see videos.","url":"http:\/\/t.co\/ZYG58XZtAC","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ZYG58XZtAC","expanded_url":"http:\/\/www.foxnews.com","display_url":"foxnews.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":17657362,"friends_count":408,"listed_count":62832,"created_at":"Sat
        Mar 17 19:01:26 +0000 2007","favourites_count":0,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":374473,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"0E2331","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/414488415\/xyz123abc.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/414488415\/xyz123abc.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/918480715158716419\/4X8oCbge_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/918480715158716419\/4X8oCbge_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1367531\/1492649996","profile_link_color":"183A52","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F4F4F4","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":6,"favorite_count":8,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Apr 12 18:26:31 +0000 2018","id":984498008959041536,"id_str":"984498008959041536","text":"To
        the ethanol lobbyists spinning press that there won\u2019t be RINS relief,
        here\u2019s what @POTUS said: \u201cWe\u2019re going to b\u2026 https:\/\/t.co\/OteKdc7KBQ","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"POTUS","name":"President
        Trump","id":822215679726100480,"id_str":"822215679726100[...]
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/home
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 43746cd35103b829b9e7d6e6c81235723ac53f3c965ab3f467ebc01655e3d1bb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '2018-04-12T18:30:00.435102Z'
      Link:
      - <https://mastodon.social/api/v1/timelines/home?max_id=99841800313482254>;
        rel="next", <https://mastodon.social/api/v1/timelines/home?since_id=99847380083516550>;
        rel="prev"
      Etag:
      - W/"05c8aea6fec8f89c677ed52ed924eb5e"
    body:
      encoding: UTF-8
      string: "[{\"id\":\"99847380083516550\",\"created_at\":\"2018-04-12T16:21:51.243Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/Gargron/statuses/99847380083516550\",\"content\":\"\\u003cp\\u003eSo
        reddit can crash and burn if you ask me, but I don\\u0026apos;t understand
        why they want to redesign. The clunky modern UI is why Imzy never took off,
        in my opinion... Changing the design will alienate their existing users, isn\\u0026apos;t
        that literally what happened to Digg and what led to reddit gaining traction?!\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@Gargron/99847380083516550\",\"reblogs_count\":6,\"favourites_count\":33,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"reblog\":null,\"application\":{\"name\":\"Web\",\"website\":null},\"account\":{\"id\":\"1\",\"username\":\"Gargron\",\"acct\":\"Gargron\",\"display_name\":\"Eugen\",\"locked\":false,\"created_at\":\"2016-03-16T14:34:26.392Z\",\"note\":\"\\u003cp\\u003eDeveloper
        of Mastodon\\u003c/p\\u003e\\u003cp\\u003ePatreon: \\u003ca href=\\\"https://www.patreon.com/mastodon\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003epatreon.com/mastodon\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003cbr
        /\\u003eLiberapay: \\u003ca href=\\\"https://liberapay.com/Mastodon/\\\" rel=\\\"nofollow
        noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003eliberapay.com/Mastodon/\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/p\\u003e\\u003cp\\u003eAvatar
        by \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.art/@DearMsDear\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eDearMsDear\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@Gargron\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/000/000/001/original/4df197532c6b768c.png\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/000/000/001/original/4df197532c6b768c.png\",\"header\":\"https://files.mastodon.social/accounts/headers/000/000/001/original/media.jpeg\",\"header_static\":\"https://files.mastodon.social/accounts/headers/000/000/001/original/media.jpeg\",\"followers_count\":72685,\"following_count\":488,\"statuses_count\":34271},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[]},{\"id\":\"99846733869886799\",\"created_at\":\"2018-04-12T13:37:30.718Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/Gargron/statuses/99846733869886799\",\"content\":\"\\u003cp\\u003eAh,
        nature \\u003ca href=\\\"https://gfycat.com/GiftedAcidicGerenuk\\\" rel=\\\"nofollow
        noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invi[...]
