---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ifM2ErGbRdBvC47V0w1fK2amA", oauth_nonce="4c17023dfdbb611dfe2073a63c3082ce",
        oauth_signature="9icx98xOfNdG7N%2BG%2Bcik6ES8Yfc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1523568255", oauth_token="125787992-pHZADYAQKenEC9SbVcoiJRiNJYhaM41AnGCEZUC9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 12 Apr 2018 21:24:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7f4f6a61e0db6a26d0ee3e6ce6b6da4b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1523569155'
      X-Response-Time:
      - '129'
      X-Transaction:
      - 000e952f003570b1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Apr 12 21:24:05 +0000 2018","id":984542697489870848,"id_str":"984542697489870848","text":"Renders
        visualize what a blush gold iPhone X would look like\u00a0[Gallery] https:\/\/t.co\/TEywzN7Lg0
        by @ChanceHMiller https:\/\/t.co\/MPF3zB3xe0","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ChanceHMiller","name":"Chance
        Miller","id":127083504,"id_str":"127083504","indices":[98,112]}],"urls":[{"url":"https:\/\/t.co\/TEywzN7Lg0","expanded_url":"http:\/\/9to5mac.com\/2018\/04\/12\/gold-iphone-x-renders\/","display_url":"9to5mac.com\/2018\/04\/12\/gol\u2026","indices":[71,94]}],"media":[{"id":984542695531077633,"id_str":"984542695531077633","indices":[113,136],"media_url":"http:\/\/pbs.twimg.com\/media\/DanMXYFV4AETWii.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DanMXYFV4AETWii.jpg","url":"https:\/\/t.co\/MPF3zB3xe0","display_url":"pic.twitter.com\/MPF3zB3xe0","expanded_url":"https:\/\/twitter.com\/9to5mac\/status\/984542697489870848\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"},"medium":{"w":1024,"h":576,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":984542695531077633,"id_str":"984542695531077633","indices":[113,136],"media_url":"http:\/\/pbs.twimg.com\/media\/DanMXYFV4AETWii.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DanMXYFV4AETWii.jpg","url":"https:\/\/t.co\/MPF3zB3xe0","display_url":"pic.twitter.com\/MPF3zB3xe0","expanded_url":"https:\/\/twitter.com\/9to5mac\/status\/984542697489870848\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"},"medium":{"w":1024,"h":576,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/publicize.wp.com\/\" rel=\"nofollow\"\u003eWordPress.com\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":15944436,"id_str":"15944436","name":"9to5Mac
        \uf8ff","screen_name":"9to5mac","location":"Cupertino, California","description":"We
        break Apple News. Tips@9to5mac.com http:\/\/t.co\/08acwjc8Rl and http:\/\/t.co\/0nnwbET9zQ
        for the best gear and deals.","url":"http:\/\/t.co\/TJfPn7EXwx","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/TJfPn7EXwx","expanded_url":"http:\/\/www.9to5mac.com","display_url":"9to5mac.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/08acwjc8Rl","expanded_url":"http:\/\/facebook.com\/9to5mac","display_url":"facebook.com\/9to5mac","indices":[38,60]},{"url":"http:\/\/t.co\/0nnwbET9zQ","expanded_url":"http:\/\/9to5toys.com","display_url":"9to5toys.com","indices":[65,87]}]}},"protected":false,"followers_count":514049,"friends_count":21,"listed_count":12364,"created_at":"Fri
        Aug 22 13:06:35 +0000 2008","favourites_count":383,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":52130,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"636363","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/659486593649012736\/-TGFT8rs_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/659486593649012736\/-TGFT8rs_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/15944436\/1468953558","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Apr 12 21:22:20 +0000 2018","id":984542255611457536,"id_str":"984542255611457536","text":"RT
        @iamSB3: Check NFL network out now... the show \u201cup to the minute\u201d
        is featuring me along w\/ other stories. U don\u2019t want to miss me though","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"iamSB3","name":"STEDMAN
        BAILEY SR","id":193915959,"id_str":"193915959","indices":[3,10]}],"ur[...]
- request:
    method: get
    uri: https://mastodon.social/api/v1/timelines/home
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 43746cd35103b829b9e7d6e6c81235723ac53f3c965ab3f467ebc01655e3d1bb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '2018-04-12T21:25:00.431337Z'
      Link:
      - <https://mastodon.social/api/v1/timelines/home?max_id=99843723953602401>;
        rel="next", <https://mastodon.social/api/v1/timelines/home?since_id=99848418125914577>;
        rel="prev"
      Etag:
      - W/"85c0f0102d7570980c12267123b5706c"
    body:
      encoding: UTF-8
      string: "[{\"id\":\"99848418125914577\",\"created_at\":\"2018-04-12T20:45:50.410Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":null,\"uri\":\"https://mastodon.social/users/Gargron/statuses/99848418125914577/activity\",\"content\":\"\\u003cp\\u003eRT
        \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@gekitsu\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003egekitsu\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://dev.glitch.social/@impiaaa\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eimpiaaa\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@Gargron\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eGargron\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        for reals, we need a dictionary of mastodon-specific memes, habits, phrases,
        etc. and call it the jargron file.\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@Gargron/99848418125914577\",\"reblogs_count\":0,\"favourites_count\":0,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"reblog\":{\"id\":\"99848383565222958\",\"created_at\":\"2018-04-12T20:37:03.091Z\",\"in_reply_to_id\":\"99848216905912551\",\"in_reply_to_account_id\":\"185373\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/gekitsu/statuses/99848383565222958\",\"content\":\"\\u003cp\\u003e\\u003cspan
        class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://dev.glitch.social/@impiaaa\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eimpiaaa\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        \\u003cspan class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.social/@Gargron\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003eGargron\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        for reals, we need a dictionary of mastodon-specific memes, habits, phrases,
        etc. and call it the jargron file.\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@gekitsu/99848383565222958\",\"reblogs_count\":14,\"favourites_count\":23,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"reblog\":null,\"application\":{\"name\":\"Web\",\"website\":null},\"account\":{\"id\":\"130441\",\"username\":\"gekitsu\",\"acct\":\"gekitsu\",\"display_name\":\"raphael\",\"locked\":false,\"created_at\":\"2017-05-07T14:45:31.640Z\",\"note\":\"\\u003cp\\u003eart
        · archery · bouldering · philosophy · code · tea · cats · chocolate\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@gekitsu\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/000/130/441/original/a4e5cb2446cc9c36.png\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/000/130/441/original/a4e5cb2446cc9c36.png\",\"header\":\"https://mastodon.social/headers/original/missing.png\",\"header_static\":\"https://mastodon.social/headers/original/missing.png\",\"followers_count\":11,\"following_count\":16,\"statuses_count\":100},\"media_attachments\":[],\"mentions\":[{\"id\":\"185373\",\"username\":\"impiaaa\",\"url\":\"https://dev.glitch.social/@impiaaa\",\"acct\":\"impiaaa@dev.glitch.social\"},{\"id\":\"1\",\"username\":\"Gargron\",\"url\":\"https://mastodon.social/@Gargron\",\"acct\":\"Gargron\"}],\"tags\":[],\"emojis\":[]},\"application\":null,\"account\":{\"id\":\"1\",\"username\":\"Gargron\",\"acct\":\"Gargron\",\"display_name\":\"Eugen\",\"locked\":false,\"created_at\":\"2016-03-16T14:34:26.392Z\",\"note\":\"\\u003cp\\u003eDeveloper
        of Mastodon\\u003c/p\\u003e\\u003cp\\u003ePatreon: \\u003ca href=\\\"https://www.patreon.com/mastodon\\\"
        rel=\\\"nofollow noopener\\\" target=\\\"_blank\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://www.\\u003c/span\\u003e\\u003cspan
        class=[...]
