= link_to 'Back to Feed', feeds_index_path
%h1 Social Media Accounts

%th= link_to "Sign in With Twitter", user_twitter_omniauth_authorize_path
%th= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path