
.mdl-layout.mdl-js-layout.mdl-layout
  %header.mdl-layout__header
    .mdl-layout__header-row
      %span.mdl-layout-title Social Media Unifier
  %main.mdl-layout__content
    %br
    %br
    %br
    %br
    %br
    .page-content
      = render 'devise/shared/links'
   
  %footer.mdl-mini-footer
    .mdl-mini-footer__left-section
      .mdl-logo Social Media Unifier
    %ul.mdl-mini-footer__link-list
      %li
        = link_to 'About', '#'
      %li
        = link_to 'Help', '#'
      %li
        = link_to 'Privacy Terms', '#'
