// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  color: red;
}

.dropdown {
    float: right;
    padding-right: 100px;
    position: relative;
    display: inline-block;
    color: blue;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 6px 6px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-1em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(-10%);
    transition-delay: 0s, 0s, 0.3s;
}

.menu_wrapper{
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

ul{
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

.menu_wrapper li{
    float: left;
}

.menu_wrapper li a{
    display: block;
    padding: 8px;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_wrapper li a:hover {
    background-color: grey;
}

.menu_wrapper .active{
    background-color: green;
}

.page_content{
    margin: 0 auto;
    width: 60%;
    background-color: lightgrey;
}

.twitter_post{
    background-color: #C0DEED;
    padding: 25px;
    width: 75%;
    margin: 0 auto;
    border: 2px solid aqua;
    border-radius: 25px;
    padding-bottom: 25px;
}

.facebook_post{
    background-color: #899BC1;
    padding: 25px;
    width: 75%;
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 25px;
    padding-bottom: 25px;
}

