// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    //To add page color
    //background-color: black;
}

.title_style{
    text-align: center;
}

h1 {
  display: inline;
  text-align: center;
  color: blue;
  //background-color: gray;
  position: relative;
  
  //For testing only
  //border: 2px solid yellow;
  //border-radius: 5px;
}

.logged_in_user{
    color: blue;
    width: 200px;
    
    //For testing only
    //border: 2px solid yellow;
    //border-radius: 5px;
}

.dropdown {
    padding-right: 50px;
    position: absolute;
    display: inline-block;
    color: blue;
    //For testing only
    //border: 2px solid yellow;
    //border-radius: 5px;
}

.dropdown-content {
    position: relative;
    background-color: #f9f9f9;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 10 auto;
    top: 100%;
    width: 120%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-1em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(-10%);
    transition-delay: 0s, 0s, 0.3s;
}

.menu_wrapper{
    text-align: center;
    //margin: 0 auto;
    width: 100%;//40
    //background-color: green;
}

ul{
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    margin: 2px auto;
    display: inline-block;
}

.menu_wrapper li{
    float: left;
}

.menu_wrapper li a{
    display: inline-block;
    //padding: 8px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
}

.menu_wrapper li a:hover {
    background-color: grey;
}

.menu_wrapper .active{
    background-color: darkgrey;
}

.page_content{
    width: 50%;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: scroll;
    height: 800px;
}

//Invisible scrollbar
.page_content::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.twitter_post{
    background-color: #C0DEED;
    padding: 25px;
    width: 75%;
    margin: 0 auto;
    border: 2px solid aqua;
    border-style: outset;
    border-radius: 25px;
    padding-bottom: 25px;
}

.facebook_post{
    background-color: #899BC1;
    padding: 25px;
    width: 75%;
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 25px;
    padding-bottom: 25px;
}

#post_content{
    height: 5em;
    font-size: 12pt;
    resize: none;
}

img{
    border: 2px solid aqua;
    border-radius: 50%;
    border-style: outset;
}

.cont{
    margin-left: 50px;
}

.posting_wrapper{
    text-align: center;
}